<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Nitrogen - Default Page</title>
<script src='/js/jquery-1.2.6.js' type='text/javascript' charset='utf-8'></script>
<script src='/js/jquery-ui-personalized-1.5.3.min.js' type='text/javascript' charset='utf-8'></script>
<script src='/js/livevalidation.js' type='text/javascript' charset='utf-8'></script>
<script src='/js/nitrogen.js' type='text/javascript' charset='utf-8'></script>
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/css/page.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/css/elements.css" type="text/css" media="screen" charset="utf-8">

<body>
<div class=header>
</div>

<div class=content>
	<div class=middlecolumn style="margin-left: 20%;">
		<div class=headline>Default Page</div>
		Hello, World!
	</div>
	
	<div class=rightcolumn></div>
	<div class=clear></div>
	<br><br><br>
</div>

<div class=legal style="position: fixed; bottom: 0px; width: 100%;">
	<p>
	Copyright &copy; 2009 <a href="http://rklophaus.com">Rusty Klophaus</a>.
	Released under the MIT License.
</div>

<script>
[[[script]]]
</script>
</body>
</html>